.header{
    width: 100%;
    height: 10%;
    background-color:rgb(0, 0, 0);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .52rem;
    font-size:100%;
    color: #fff;
}
.header .pos-container{
    width: 20%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.header .pos-container2{
    width: 40%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
#help-text{
    color: rgb(172, 119, 49);
}